body {
    background-color: #6CADFF;
    opacity: 100%;
    
}



h1 {

    position:relative;
    font-family: OpenSans-Bold;
    font-size: 24px;
    opacity: 100%;
    color: #FFFFFF;
    letter-spacing: 7.69px;
    padding-top: 80px;
    padding-left: 637px;
}

p {

    position:absolute;
    font-family: OpenSans;
    font-size: 24px;
    color: #FFFFFF;
    top: 486px;
    left: 330px;

}
